html {
	font-family: Trebuchet MS;
	background-color: #3E454C;
	color: #3E454C;
	text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
	color: #FF7F66;
}
a {
	color: #2185C5;
	text-decoration: none;
}
#bodyContainer {
	width: 900px;
	margin: auto;
	/*background-color: #F2AE72;*/
}
#menu {
	width: 900px;
	border-style: solid;
	border-radius: 10px;
	border-width: 15px;
	border-color: #FFF6E5;
	background: #FFF6E5;
	float: left;
}
#menuLeft {
	width: 256px;
	margin: auto;
	float: left;
}
#menuRight {
	width: 634px;
	margin: auto;
	float: right;
}
	#menuRight li{
		list-style-type: none;
		float: left;
		margin:  auto 5px 10px 5px;
		display: inline;
	}
	#menuRight a{
		border-style: solid;
		border-radius: 5px;
		border-width: 5px;
		border-color: #2185C5;

		text-align: center;
		font-size: 18px;
		text-decoration: none;
		color: #333333;

		background-color: #2185C5;
		display: block;
		width: 95px;
	}
	#menuRight a:hover{
		border-style: solid;
		border-radius: 5px;
		border-width: 5px;
		border-color: #8C4646;

		text-align: center;
		text-decoration: none;
		color: #333333;

		background-color: #8C4646;
		display: block;
		width: 95px;
	}
.clear {
	clear: both;
}
#mainBody {
	width: 900px;
	margin-top: 25px;
	margin-bottom: 25px;

	border-style: solid;
	border-radius: 10px;
	border-width: 15px;
	border-color: #FFF6E5;

	/*background-color: #F2E394;*/
	background-color: #FFF6E5;
	float: left;
}
.mainCenter {
	width: 600px;
	margin: auto;
	text-align: center;
}
.mainLeft {
	width: 400px;
	margin: auto;
	float: left;
}
	.mainLeft h1,h2,h3,h4,h5,h6{
		text-align: center;
	}
.mainRight {
	text-align: center;
	width: 400px;
	margin: auto;
	float: right;
}
		.mainRight h1,h2,h3,h4,h5,h6{
		text-align: center;
	}
.imp {
	font-size: 26px;
	color: black;
	font-style: italic;
}
#footer {
	text-align: center;
	width: 900px;
	border-style: solid;
	border-radius: 10px;
	border-width: 15px;
	border-color: #FFF6E5;
	background: #FFF6E5;
	font-size: 10px;
	float: left; 
}

.question{
	color: #588C7E;
	font-style: italic;
	font-size: 21px;
	margin-top: 50px;
	text-align: left;

}
.answer {
	font-style: italic;
	text-align: left;
	font-size: 14px;
}
.answerFAIL {
	font-style: italic;
	color: red;
	text-align: left;
	font-size: 14px;
}

.answerPASS {
	font-style: italic;
	color: green;
	text-align: left;
	font-size: 14px;
}

#error {
	color: red;
}